@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,800&display=swap");

$red: #9e1c21;
$black: #0a0a0c;
$blue: #6f8d9e;
$darkblue: #204051;
$gray: #e4e3e3;
$darkGray: #686464;
$white: #fff;
$text-grey: #a7a7a7;

$soft-shadow: 0px 56px 114px rgba(0, 0, 0, 0.05),
  0px 20.4409px 41.6119px rgba(0, 0, 0, 0.022327),
  0px 9.92369px 20.2018px rgba(0, 0, 0, 0.0100587),
  0px 4.86478px 9.9033px rgba(0, 0, 0, 0.0036189),
  0px 1.92354px 3.91578px rgba(0, 0, 0, 0.000622389);

$medium-shadow: 0 0.7px 3.8px rgba(0, 0, 0, 0.02),
  0 1.7px 9.2px rgba(0, 0, 0, 0.028), 0 3.1px 17.4px rgba(0, 0, 0, 0.035),
  0 5.6px 31px rgba(0, 0, 0, 0.042), 0 10.4px 58.1px rgba(0, 0, 0, 0.05),
  0 25px 139px rgba(0, 0, 0, 0.07);

$phohe-filter-shadow: drop-shadow(6px 4px 9px rgba(0, 0, 0, 0.3));

*::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}
*::-webkit-scrollbar-track {
  background: $white; /* color of the tracking area */
}
*::-webkit-scrollbar-thumb {
  background-color: $darkGray; /* color of the scroll thumb */
  border: 1px solid white;
  border-radius: 16px;
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.App {
  visibility: hidden;
}

.container {
  width: 90%;
  margin: 0 auto;
  @media (max-width: 540px) {
    width: 320px;
  }
  .wrapper {
    padding: 0 2.507vw;
    display: flex;
    flex-direction: column;
    @media (max-width: 540px) {
      padding: 0 9.5px;
    }
    .home {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      .pageTitle {
        font-size: 3rem;
        border-bottom: 2px solid $black;
        margin: 0 auto;
        @media (max-width: 1024px) {
          font-size: 2.2rem;
        }
      }
      .homeBtn {
        background: none;
        border: none;
        font-weight: 400;
        font-size: 1.2rem;
        text-decoration: underline;
        padding: 0 0.1rem;
        cursor: pointer;
        width: fit-content;
        &:focus {
          outline: none;
        }
        a {
          display: flex;
          align-items: center;
          color: initial;
          svg {
            margin-left: 0.5rem;
          }
        }
        @media (max-width: 540px) {
          font-size: 1rem;
        }
      }
      footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
        margin-bottom: 2rem;
        .footer-links {
          display: flex;
          gap: 0.5rem;
          .link {
            text-decoration: none;
            color: initial;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
          @media (max-width: 540px) {
            font-size: 0.8rem;
          }
        }
        .logo a {
          font-weight: 700;
          text-decoration: none;
          color: inherit;
          font-size: 2rem;
        }
      }
    }
    p {
      font-size: 0.75rem;
      letter-spacing: 0.3rem;
      text-transform: uppercase;
      font-weight: 500;
    }
    h5 {
      margin-top: 250px;
      padding-right: 4rem;
      font-size: 1.8rem;
      font-weight: 600;
      .hero-text-line {
        overflow: hidden;
      }
      @media (max-width: 1455px) {
        padding-right: 0;
        font-size: 1.6rem;
      }
      @media (max-width: 1280px) {
        padding-right: 0;
        font-size: 1.3rem;
      }
      @media (max-width: 1024px) {
        padding-right: 0;
        font-size: 1rem;
      }
      // @media (max-width: 540px) {
      //   margin-top: 120px;
      //   font-size: 1.1rem;
      // }
      @media (max-width: 540px) {
        margin-top: 100px;
        font-size: 1rem;
      }
    }
    .backgroundText {
      position: absolute;
      font-size: 20rem;
      bottom: 7.8rem;
      right: 0;
      font-weight: 800;
      color: #fff;
      user-select: none;
      transition: all 0.7s ease-out;
      z-index: -1;
      height: 340px;
      text-shadow: 0 3.7px 7.9px rgba(0, 0, 0, 0.002),
        0 12.3px 26.6px rgba(0, 0, 0, 0.008), 0 55px 119px rgba(0, 0, 0, 0.04);
      &:hover {
        text-shadow: 0 1px 7.9px rgba(0, 0, 0, 0.002),
          0 3.4px 26.6px rgba(0, 0, 0, 0.012), 0 15px 119px rgba(0, 0, 0, 0.06);
      }
      animation: cameraPan 1s infinite;
      @media (max-width: 1440px) {
        font-size: 15rem;
        bottom: 4rem;
      }
      @media (max-width: 1024px) {
        font-size: 8rem;
        bottom: 2rem;
      }
    }
  }
}

//headers
header {
  height: 100px;
  color: $black;
  .inner-header {
    position: relative;
    z-index: 10;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo a {
      font-weight: 700;
      text-decoration: none;
      color: inherit;
      font-size: 1.5rem;
    }
    .menu {
      button {
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        font-size: 1rem;
        text-decoration: underline;
        color: inherit;
      }
    }
  }
}

// hamburger menu or navigation
.hamburger-menu {
  display: none;
  z-index: 9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  .menu-secondary-background-color {
    background-color: $blue;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  .menu-layer {
    position: relative;
    background: $darkblue;
    height: 100%;
    overflow: hidden;
    .menu-city-background {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      animation: cameraPan 50s infinite;
    }
    .wrapper {
      position: relative;
      .menu-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin: 0 auto;
        position: relative;
        top: 200px;
        @media (max-width: 1440px) {
          width: 90%;
          top: 200px;
        }
        @media (max-width: 1280px) {
          width: 95%;
          top: 150px;
        }
        @media (max-width: 720px) {
          width: 100%;
          top: 100px;
        }
        nav {
          display: block;
          ul {
            padding: 0;
            margin: 0;
            li {
              list-style: none;
              font-size: 6rem;
              font-weight: 700;
              cursor: pointer;
              height: 135px;
              overflow: hidden;
              position: relative;
              width: 700px;
              @media (max-width: 1440px) {
                width: 600px;
              }
              @media (max-width: 1024px) {
                font-size: 4rem;
                width: 400px;
                height: 90px;
              }
              @media (max-width: 720px) {
                font-size: 3.5rem;
                width: 350px;
                height: 80px;
              }
              a {
                position: absolute;
                color: #fff;
                text-decoration: none;
                &:hover {
                  color: $blue;
                }
              }
            }
          }
        }
        .info {
          color: #fff;
          width: 300px;
          h3 {
            font-size: 1.2rem;
            margin: 8px auto;
          }
          p {
            margin: 0 auto;
            font-size: 0.8rem;
            text-transform: none;
          }
          @media (max-width: 1440px) {
          }
          @media (max-width: 1024px) {
            h3 {
              font-size: 1rem;
            }
            p {
              font-size: 0.65rem;
            }
          }
        }
      }
      .locations {
        position: absolute;
        bottom: -100px;
        color: #fff;
        margin-top: 16px;
        font-size: 1rem;
        font-weight: 600;
        @media (max-width: 540px) {
          bottom: -180px;
          display: flex;
          flex-direction: column;
          gap: 0.4rem;
        }
        span {
          &:first-child {
            margin-left: 64px;
          }
          font-weight: 400;
          cursor: pointer;
          margin: 0 32px;
          transition: 0.3s ease-in-out;
          &:hover {
            background: $darkblue;
            padding: 8px 24px;
            border-radius: 4px;
            font-size: 1.2rem;
          }
          @media (max-width: 1024px) {
            &:first-child {
              margin-left: 32px;
            }
            margin: 0 16px;
            &:hover {
              padding: 4px 12px;
              font-size: 1rem;
            }
          }
          @media (max-width: 540px) {
            &:first-child {
              margin-left: 16px;
            }
            margin: 2px 16px;
            &:hover {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

@keyframes cameraPan {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 30% 10%;
  }
  50% {
    background-position: 0% 10%;
  }
  75% {
    background-position: 10% 30%;
  }
  100% {
    background-position: 0% 0%;
  }
}

//project list
.projects {
  display: flex;
  flex-direction: column;
  gap: 12.5vw;
  margin-top: 8.33vw;
  margin-bottom: 4.166vw;
  @media (max-width: 540px) {
    margin-top: 21.5vw;
  }
  .content {
    opacity: 0.5;
    display: flex;
    background-color: $white;
    height: 31.25vw;
    box-shadow: $soft-shadow;
    width: 90%;
    margin: 0 auto;
    @media (max-width: 540px) {
      flex-direction: column;
      height: 590px;
      width: 100%;
      margin-top: 20vw;
      &:first-child {
        margin-top: 0;
      }
    }
    .projectImages {
      min-width: 50%;
      width: 50%;
      position: relative;
      @media (max-width: 540px) {
        min-height: 250px;
        height: 250px;
        min-width: 100%;
        width: 100%;
      }
      .main {
        position: absolute;
        top: -5.3%;
        left: -13.33%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left top;
        box-shadow: $medium-shadow;
        @media (max-width: 540px) {
          left: -3%;
        }
      }
      .mobileFront {
        position: absolute;
        top: 8%;
        left: 13.33%;
        width: 50%;
        filter: $phohe-filter-shadow;
        @media (max-width: 540px) {
          left: 25%;
        }
      }
      .mobileBack {
        position: absolute;
        right: 0;
        top: -10.66%;
        width: 50%;
        filter: $phohe-filter-shadow;
        @media (max-width: 540px) {
          right: -7%;
          top: -15%;
        }
      }
    }
    .projectDescription {
      padding: 4rem;
      @media (max-width: 1440px) {
        padding: 3rem;
      }
      @media (max-width: 1024px) {
        padding: 1.5rem 2rem;
      }
      @media (max-width: 540px) {
        margin-top: 10vw;
        padding: 1.5rem;
      }
      .title {
        font-size: 3rem;
        font-weight: 600;
        line-height: 60px;

        @media (max-width: 1440px) {
          font-size: 2.5rem;
          line-height: 40px;
        }
        @media (max-width: 1024px) {
          font-size: 1.5rem;
          line-height: 24px;
        }
        @media (max-width: 540px) {
          text-align: center;
          font-size: 2rem;
          line-height: 40px;
          height: 85px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .description {
        margin-top: 2rem;
        margin-bottom: 1rem;
        max-height: 50%;
        font-size: 1rem;
        text-overflow: ellipsis;
        overflow-y: auto;
        @media (max-width: 1440px) {
          margin-top: 0.8rem;
          margin-bottom: 1rem;
        }
        @media (max-width: 1024px) {
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
          font-size: 0.8rem;
          line-height: 16px;
        }
        @media (max-width: 540px) {
          height: 130px;
          max-height: 130px;
        }
      }
      a {
        color: initial;
        font-weight: 600;
        svg {
          font-size: 1rem;
        }
      }
    }
  }
}

// project details
.projectDetails {
  width: 1920px;
  .backgroundImage {
    width: 100%;
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      object-fit: contain;
      z-index: -1;
    }
    .overlay {
      position: absolute;
      width: 100%;
      height: 1700px;
      background: rgb(2, 0, 36);
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 1) 100%
      );
      z-index: 0;
      @media (max-width: 540px) {
        height: 85vw;
      }
    }
  }
  .wrapper {
    @media (max-width: 540px) {
      padding: 0;
    }
    .projectContent {
      margin-top: 20rem;
      margin-bottom: 10rem;
      background-color: $white;
      box-shadow: $medium-shadow;
      min-height: 100vh;
      z-index: 1;
      padding: 2rem 4rem 0;
      @media (max-width: 540px) {
        margin-top: 5rem;
        padding: 2rem 2rem 0;
      }
      .title {
        margin: 0 auto;
        text-align: left;
        font-size: 4rem;
        font-weight: 600;
        @media (max-width: 1440px) {
          font-size: 3rem;
        }
        @media (max-width: 1024px) {
          font-size: 2.5rem;
        }
        @media (max-width: 540px) {
          font-size: 2.3rem;
          line-height: 44px;
          margin-bottom: 1rem;
        }
      }
      .liveDemo {
        background: none;
        border: none;
        color: initial;
        width: fit-content;
        font-size: 1rem;
        &:focus {
          outline: none;
        }
        svg {
          font-size: 0.7rem;
          margin-right: 0.2rem;
        }
      }
      .description {
        margin-top: 2rem;
        font-size: 1.2rem;
        small {
          line-height: 6px !important;
        }
        @media (max-width: 1440px) {
          font-size: 1.1rem;
        }
        @media (max-width: 1024px) {
          font-size: 1rem;
        }
        @media (max-width: 540px) {
          font-size: 0.9rem;
        }
      }
      .uiPairs {
        display: flex;
        flex-direction: column;
        margin-top: 5.83vw;
        margin-bottom: 4.16vw;
        .uiPair {
          margin-top: 5.83vw;
          position: relative;
          &:first-child {
            margin-top: 0;
          }
          .uiDesktop {
            object-fit: contain;
            width: 100%;
          }
          .uiMobile {
            position: absolute;
            width: 24.2%;
            top: 10%;
            right: 4.84%;
            filter: $phohe-filter-shadow;
          }
        }
        .uiPair:nth-child(2) {
          .uiMobile {
            right: 17.04%;
          }
        }
        .uiPair:nth-child(3) {
          .uiMobile {
            right: 29.24%;
          }
        }
      }
      .bottomMobileView {
        display: flex;
        justify-content: space-around;
        width: 75%;
        margin: 6vw auto;
        .mobileView {
          width: 43.01%;
          filter: $phohe-filter-shadow;
        }
        @media (max-width: 540px) {
          width: 100%;
          flex-direction: column;
          align-items: center;
          .mobileView {
            object-fit: contain;
            width: 95%;
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
  .other {
    display: flex;
    flex-direction: column;
    align-items: center;
    .otherTitle {
      text-align: center;
      font-size: 3rem;
      margin-bottom: 5rem;
      @media (max-width: 1024px) {
        font-size: 2.5rem;
      }
      @media (max-width: 540px) {
        font-size: 2rem;

        margin-bottom: 2rem;
      }
    }
    .otherProjects {
      padding-bottom: 3rem;
      z-index: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 80%;
      @media (max-width: 1024px) {
        width: 100%;
        flex-direction: column;
        align-items: center;
      }
      .otherProject {
        margin-top: 2rem;
        width: 32%;
        background-color: white;
        position: relative;
        box-shadow: $soft-shadow;
        padding-top: 42%;
        @media (max-width: 1024px) {
          width: 60%;
          padding-top: 78%;
          &:last-child {
            margin-top: 5rem;
          }
        }
        @media (max-width: 540px) {
          min-width: 80%;
          width: 80%;
          padding-top: 115%;
        }
        .main {
          position: absolute;
          top: 0;
          left: -10%;
          width: 100%;
          z-index: 1;
          @media (max-width: 540px) {
            left: -5%;
          }
        }
        .back {
          z-index: 2;
          position: absolute;
          right: -10%;
          top: -5%;
          width: 57%;
          filter: $phohe-filter-shadow;
        }
        .front {
          z-index: 3;
          position: absolute;
          width: 57%;
          left: 50%;
          margin-left: -100px;
          top: 5%;
          filter: $phohe-filter-shadow;
          @media (max-width: 540px) {
            left: 60%;
          }
        }
        .title {
          padding: 0 2rem;
          padding-bottom: 2rem;
          display: grid;
          place-items: center;
          a {
            color: initial;
            font-size: 2rem;
            font-weight: 600;
            text-align: center;
          }
          @media (max-width: 1440px) {
            a {
              font-size: 1.8rem;
            }
          }
          @media (max-width: 1024px) {
            padding: 0 2.5rem 2.5rem;
            a {
              font-size: 1.8rem;
            }
          }
          @media (max-width: 540px) {
            padding: 0 2rem 2rem;
          }
        }
      }
    }
    .otherFooter {
      font-size: 1.5rem;
      margin-bottom: 5rem;
      a {
        color: initial;
      }
      @media (max-width: 540px) {
        font-size: 1rem;
      }
    }
  }
}

// about page
.about {
  margin-top: 8rem;
  @media (max-width: 1280px) {
    margin-top: 4rem;
  }
  @media (max-width: 1024px) {
    margin-top: 11rem;
  }
  @media (max-width: 500px) {
    margin-top: 8rem;
  }
  .title {
    display: flex;
    flex-direction: column;
    width: 830px;
    margin: 0 auto;
    margin-bottom: 3rem;
    position: relative;
    @media (max-width: 1024px) {
      width: 500px;
    }
    @media (max-width: 500px) {
      width: 80vw;
    }
    .titleRow {
      width: fit-content;
      position: relative;
      overflow: hidden;
      span {
        opacity: 0;
        font-size: 144px;
        font-weight: 800;
        line-height: 140px;
        @media (max-width: 1024px) {
          font-size: 108px;
          line-height: 104px;
        }
        @media (max-width: 500px) {
          font-size: 72px;
          line-height: 70px;
        }
      }
      .bg-box {
        background-color: $black;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
      }
      &:first-child {
        span {
          margin-top: 5rem;
          font-size: 72px;
          font-weight: 400;
          line-height: 70px;
          @media (max-width: 500px) {
            font-size: 36px;
            line-height: 30px;
          }
        }
      }
      &:nth-child(3) {
        align-self: center;
        @media (max-width: 1024px) {
          align-self: flex-start;
        }
      }
    }

    .profilePic {
      position: absolute;
      right: 0;
      top: -18%;
      // animation: cameraPan 50s infinite;
      filter: $phohe-filter-shadow;
      overflow: visible;
      width: 300px;
      height: 300px;
      display: grid;
      place-items: center center;
      img {
        width: 250px;
        object-fit: contain;
        border-radius: 50%;
      }

      @media (max-width: 1024px) {
        top: -75%;
        right: -10%;
        img {
          width: 200px;
        }
      }
      @media (max-width: 500px) {
        top: -80%;
        right: -5%;
        width: 180px;
        height: 180px;
        img {
          width: 150px;
        }
      }
    }
  }

  .firstRow,
  .secondRow,
  .thirdRow {
    display: flex;
    width: 480px;
    margin: 0 auto;
    margin-top: 5rem;
    font-size: 18px;
    text-align: justify;
    color: $text-grey;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
    @media (max-width: 540px) {
      width: 100%;
      font-size: 16px;
    }
    .text {
      span {
        min-width: 100%;
        em {
          font-style: normal;
          color: $black;
        }
        &.rowTitle {
          font-size: 24px;
          text-align: left;
          @media (max-width: 500px) {
            font-size: 19px;
          }
        }
      }
    }
    .images {
      position: absolute;
      width: 280px;
      height: 280px;
      @media (min-width: 1024px) {
        &.right {
          left: 70%;
        }
        &.left {
          right: 70%;
        }
      }

      @media (max-width: 1024px) {
        position: relative;
        margin: 0 auto;
      }
      filter: $phohe-filter-shadow;
      .python {
        transform: scale(0.65);
        position: absolute;
        left: 0;
        top: 10%;
      }
      .js {
        transform: scale(0.65);
        position: absolute;
        left: 18%;
        top: 20%;
      }
      .nodejs {
        transform: scale(0.65);
        position: absolute;
        left: 30%;
        top: 0;
      }
      .firebase {
        transform: scale(0.65);
        position: absolute;
        left: 35%;
        top: 25%;
      }
      .mongodb {
        transform: scale(0.65);
        position: absolute;
        left: -1%;
        top: 40%;
      }
      .django {
        transform: scale(0.65);
        position: absolute;
        left: 10%;
        top: 55%;
      }
      .strapi {
        transform: scale(0.65);
        position: absolute;
        left: 45%;
        top: 55%;
      }
      .postgresql {
        // transform: scale(0.65);
        position: absolute;
        left: 20%;
        top: 75%;
      }
      .sass {
        transform: scale(0.65);
        position: absolute;
        left: 40%;
        top: 80%;
      }
      .react {
        transform: scale(0.65);
        position: absolute;
        right: -15%;
        top: 15%;
      }
      .greensock {
        // transform: scale(0.65);
        position: absolute;
        right: 10%;
        bottom: 5%;
      }
      // marketing logo
      .analytics {
        transform: scale(0.25);
        position: absolute;
        top: -50%;
        left: -55%;
      }
      .ads {
        transform: scale(0.05);
        position: absolute;
        top: -150%;
        left: -450%;
      }
      .ahrefs {
        transform: scale(0.2);
        position: absolute;
        top: -25%;
        left: 10%;
      }
    }
  }

  .contactBtn {
    width: 480px;
    color: $black;
    margin: 0 auto;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    @media (max-width: 540px) {
      width: 100%;
    }
    a {
      font-weight: 600;
      color: initial;
      font-size: 26px;
    }
    .projectBtnTitle,
    .contactTitle {
      font-size: 18px;
      color: $text-grey;
      text-align: justify;
      em {
        font-style: normal;
        color: $black;
      }
      @media (max-width: 540px) {
        font-size: 16px;
      }
    }
    .projectBtnTitle {
      margin-bottom: 2rem;
    }
    .contactAccount {
      display: flex;
      margin-top: 0.5rem;
      @media (max-width: 540px) {
        flex-direction: column;
      }
      .col1,
      .col2 {
        margin-top: 0.5rem;
        display: flex;
        a {
          color: initial;
          font-size: 18px;
          display: flex;
          align-items: center;
          font-weight: 400;
          @media (max-width: 540px) {
            font-size: 19px;
          }
          span {
            margin: 0 1rem 0 0.2rem;
          }
        }
      }
    }

    .repoDetail {
      margin-top: 7rem;
      span {
        font-size: 13px;
        text-align: justify;
        a {
          margin-left: 0.3rem;
          font-size: 13px;
        }
      }
    }
  }

  .firstRow {
    margin-top: 0;
  }
}

//contact page
.contactPage {
  display: flex;
  flex-direction: column;
  .mainContent {
    margin-top: 8rem;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 12vw;
    @media (max-width: 1024px) {
      flex-direction: column;
      margin-top: 1rem;
      align-items: center;
    }
    @media (max-width: 540px) {
      flex-direction: column;
      margin-top: 1rem;
      align-items: center;
    }
    .photo {
      img {
        width: 250px;
        border-radius: 50%;
      }
      @media (max-width: 540px) {
        margin-bottom: 1.5rem;
        img {
          width: 150px;
        }
      }
    }
    .text-content {
      margin-left: 4rem;
      width: 650px;
      @media (max-width: 1024px) {
        margin-left: 0rem;
        width: 90%;
        text-align: justify;
      }
      @media (max-width: 540px) {
        margin-left: 0rem;
        width: 95%;
        text-align: justify;
      }
      .title {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        overflow: hidden;
        @media (max-width: 540px) {
          text-align: center;
        }
        span {
          font-size: 64px;
          font-weight: 600;
          line-height: 60px;
          &:first-child {
            font-size: 22px;
            line-height: 18px;
            font-weight: 400;
            margin-bottom: 0.5rem;
          }
        }
      }
      .description {
        font-size: 18px;
        @media (max-width: 540px) {
          font-size: 16px;
        }
      }
      .contactAccount {
        margin-top: 1rem;
        display: flex;
        @media (max-width: 540px) {
          flex-direction: column;
        }
        .col1,
        .col2 {
          display: flex;
          a {
            font-size: 22px;
            display: flex;
            align-items: center;
            color: initial;
            margin-left: 1rem;
            margin-top: 0.5rem;
            span {
              margin-left: 0.3rem;
            }
            @media (max-width: 1024px) {
              font-size: 20px;
            }
            @media (max-width: 540px) {
              font-size: 18px;
            }
          }
        }
        .col1 {
          a:first-child {
            margin-left: 0;
          }
        }
        .col2 {
          a:first-child {
            @media (max-width: 540px) {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}

// react transition group page transition
.home-enter {
}
.home-enter-active {
  transition: opacity 600ms;
}
.home-exit {
  opacity: 1;
}
.home-exit-active {
  opacity: 0;
  transition: all 600ms;
}
